<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-3">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img style="height: 50px; margin-right: 10px;" src="/images/hat.png" alt="scannpalIcon"/>
    <span>ScannPal</span>
  </a>
  <ul class="navbar-nav me-auto">
    <li class="nav-item px-2">
      <a class="nav-link" href="/test">Test Page</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <ul class="navbar-nav pe-3">
    <li class="nav-item text-right">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <button class="btn btn-dark text-light: none;" disabled> | </button>
    <li class="nav-item text-right">
      <a class="nav-link" href="/register">Create an Account</a>
    </li>
  </ul>
</nav>