<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-3">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img style="height: 50px; margin-right: 10px;" src="/images/hat.png" alt="scannpalIcon"/>
    <span>ScannPal</span>
  </a>
  <ul class="navbar-nav me-auto">
    <li class="nav-item px-2">
      <a class="nav-link" href="/home">
        <i class="bi bi-house-door"></i>
        Home</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="/scan">
        <i class="bi bi-laptop"></i>
        Scan</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="/results">
        <i class="bi bi-journal-text"></i>
        Results</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item text-right">
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle me-3" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person-circle"></i>
          Profile
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/payment">
            <i class="bi bi-wallet2"></i>
            My Payments</a>
          <a class="dropdown-item" href="/settings">
            <i class="bi bi-gear"></i>
            Settings</a>
          <a class="dropdown-item" href="/logout">
            <i class="bi bi-box-arrow-right"></i>
            Logout</a>
        </div>
      </div>  
    </li>
  </ul>
</nav>
