<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-xl">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome back, <%= user.first_name %></h1>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>