<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container">
    <div class="row">
      <h2 class="display-2 text-center pt-3 pb-3">
        Welcome to ScannPal!
      </h2>
    </div>
    <div class="row ">
        <div class="col-md-6 jumbotron bg-info ">    
            <h4 class="display-4 text-center">What is ScannPal?</h4>
            <p class="fs-18">Made by Matteo, Justin, Adam<br>
              This application utlizes Amazon Web Services to delegate tasks to multiple virtual machines to speed up tasks<br>
              DO NOT SCAN WEBSITES WITHOUT PERMISSION!
                
            </p>
        </div>
        <div class="col-md-6">    
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">    
            
        </div>
        <div class="col-md-6 jumbotron"> 
            <h4 class="display-4">How To Use</h4>
            <ul class="list-group">
                <li class="list-group-item">You can start a scan in the Scan Page with a valid username, password, and URL</li>
                <li class="list-group-item">You can visit <a>View Scans</a> to see results of past scans</li>
            </ul>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6 jumbotron">    
            <h4 class="display-4">Mission</h4>
            <p>Our mission is to give website owners the ability to seamlessly secure their websites. We hope that our application can make the internet a safer place for all.</p>
        </div>
        <div class="col-md-6">    
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">    
            
        </div>
        <div class="col-md-6 jumbotron"> 
            <h4 class="display-4">Inspiration</h4>
            <ul>
                <li>Nessus Vulnerability Scanner</li>
                <li>Metasploit</li>
            </ul>
        </div>


    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>