<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/payment.css">
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h2 class="display-2 text-center pt-3 p-3 text-light">
          Welcome to ScannPal!
        </h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6">
        <div class="jumbotron bg-teal p-4 rounded-4">
          <h4 class="display-5 pb-4">What is ScannPal?</h4>
          <p>ScannPal is a web application vulnerability scanner that performs automated testing to determine security flaws within a given website.</p>
          
        </div>
      </div>
        <div class="col-md-6">    
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">    
            
        </div>
        <div class="col-md-6">
          <div class="jumbotron bg-blueish p-4 rounded-4">
            <h4 class="display-5 mb-4">Functionality</h4>
            <p>You can start a scan in the Scan Page with a valid username, password, and URL. To see the results of previous scans, visit the Results page.</p>
          </div>
        </div>


    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron bg-grayish p-4 rounded-4">
          <h4 class="display-5 mb-4">Mission</h4>
          <p>Our mission is to give website owners the ability to seamlessly secure their websites. We hope that our application can make the internet a safer place for all.</p>
        </div>
      </div>
        <div class="col-md-6">    
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">    
            
        </div>
        <div class="col-md-6">
          <div class="jumbotron bg-redish p-4 rounded-4">
            <h4 class="display-5 mb-4">Inspiration</h4>
            <p>This web application draws inspiration from the functionality of Nessus Vulnerability Scanner, as well as the automated attacks utilized within the Metasploit framework.</p>
          </div>
        </div>


    </div>
</main>
<!--

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
-->
</body>
</html>