<!-- Testing -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login - ScannPal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/login.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">
            <div class="section" style="background-color: lightpink;">
                <img src="/images/image.jpg">
            </div>
            <div class="section" style="background-color: rgb(245, 245, 245);">
                <div class="flexbox">

                    <!-- Header Section -->
                    <div class="header-section"
                        <p class="header">Welcome back!</p>
                
                    </div>

                    <!-- Email Input Section -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="email-input">
                                Email
                            </label>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="email-input" type="text">
                        </div>
                    </div>

                    <!-- Password Input Section -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="password-input">
                                Password
                            </label>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="password-input" type="password">
                        </div>
                    </div>

                    <!-- Password Button -->
                    <div class="input-section">
                        <div class="button-wrapper">
                            <button class="sign-in-button">
                                Sign In
                            </button>
                        </div>
                    </div>

                    <!-- Footer Section -->
                    <div class="footer-section">
                        <p class="footer">
                            Don't have an account already? 
                            <a class="sign-up-link" href="#">
                                Sign up
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>