<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
</header>

<main>
<div class="jumbotron-fluid bg-success p-5">
    <h1> You have sucessfully logged out.  If you wish to sign in again please visit <a class="link link-light" style="text-decoration: none;" href="/login"> this</a> link.</h1>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>