<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">
<style>
  body {
    background-image: linear-gradient(130deg, #66ffff, #ff99ff);
  }
</style>
<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
    <br><h1 class="text-center">Welcome to our Payment Page</h1>
    <h4 class="text-center">Here you can purchase a detail plan</h2>
      <div class="container">
        <div class="row">
          <div class="jumbotron">
            <h2 class="display-2 text-center pt-3 p-3">
              Payment Plans
            </h2>
          </div>
        </div>
        <div class="row justify-content-center">
            <!-- FIRST PLAN -->
            <div class="col-md-3">
                <div class="jumbotron bg-greenish p-4">
                    <h4 class="display-5 text-center pb-4">Basic</h4>
                    <ul class="list-group">
                    <li class="list-group-item bg-light">5 Node Strength Scans</li>
                    <li class="list-group-item bg-light">10 scans per month</li>
                    
                    </ul>
                </div>
            </div>
            <!-- SECOND PLAN -->
            <div class="col-md-3">
                <div class="jumbotron bg-royal p-4">
                    <h4 class="display-5 text-center pb-4">Advanced</h4>
                    <ul class="list-group">
                      <li class="list-group-item bg-light">10 Node Strength Scans</li>
                      <li class="list-group-item bg-light">30 scans per month</li>
                      <li class="list-group-item bg-light">Experimental Access</li>
                      <li class="list-group-item bg-light">Reduced Bugs</li>
                    </ul>
                </div> 
                    
            </div>
            <!-- THIRD PLAN -->
            <div class="col-md-3">
                <div class="jumbotron bg-deepred p-4">
                    <h4 class="display-5 text-center pb-4">Premium</h4>
                    <ul class="list-group">
                      <li class="list-group-item bg-light">20 Node Strength Scans</li>
                      <li class="list-group-item bg-light">60 scans per month</li>
                      <li class="list-group-item bg-light">Experimental Access</li>
                      <li class="list-group-item bg-light">No bugs</li>
                      <li class="list-group-item bg-light">Thank you note</li>
                    </ul>
                </div> 
                    
            </div>
            
        </div>

<div class="container text-center">
    
    <p>To proceed with your payment, please click the button below:</p>
    
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="sb-klahk30318517@business.example.com">
        <input type="hidden" name="item_name" value="Lifetime Money Supply">
        <input type="hidden" name="amount" value="10.00">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="return" value="localhost:3000/home">
        <input type="hidden" name="cancel_return" value="localhost:3000/home">
        <input type="hidden" name="notify_url" value="localhost:3000/home">
        <!-- Replace the client ID and secret below -->
        <input type="hidden" name="client_id" value="AYj-FaMxmc63igrmlhy0L60I8goWh-l7Y8IoSV8Nnhl2x5zynsQ7D4Xo0mz9TdqknlICVSjeXuCKLq37">
        
        <!-- Replace the password below -->
        
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online">
    </form>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>