<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include necessary meta tags, stylesheets, etc. -->
  <%- include('../partials/head'); %>
  <!-- Custom styling -->
  <link rel="stylesheet" href="styles/payment.css">
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="container my-5">
  <div class="container-fluid text-center pb-3">
    <h1 class="display-5">View Plans</h1>
  </div>
  <div class="row justify-content-center">
    <!-- FIRST PLAN -->
    <div class="col-md-3 mb-4">
      <div class="card box-shadow">
        <div class="plan-header bg-greenish">Basic</div>
        <div class="card-body text-center">
          <h1 class="card-title pricing-card-title">$5<small class="text-muted">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 Scans</li>
            <li>10 Usable Nodes</li>
            <li>2 Concurrent Scans</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- SECOND PLAN -->
    <div class="col-md-3 mb-4">
      <div class="card box-shadow">
        <div class="plan-header bg-royal">Advanced</div>
        <div class="card-body text-center">
          <h1 class="card-title pricing-card-title">$15<small class="text-muted">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>35 Scans</li>
            <li>25 Usable Nodes</li>
            <li>5 Concurrent Scans</li>
            <li>Experimental Access</li>
            
          </ul>
        </div>
      </div>
    </div>

    <!-- THIRD PLAN -->
    <div class="col-md-3 mb-4">
      <div class="card box-shadow">
        <div class="plan-header bg-deepred">Premium</div>
        <div class="card-body text-center">
          <h1 class="card-title pricing-card-title">$30<small class="text-muted">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            
            <li>100 Scans</li>
            <li>50 Usable Nodes</li>
            <li>15 Concurrent Scans</li>
            <li>Experimental Access</li>
            
            <li>24/7 Technical Support</li>
            <li>+ more</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container border border-dark bg-white">
    <div class="table-responsive ">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Basic</th>
            <th style="width: 22%;">Advanced</th>
            <th style="width: 22%;">Premium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Scans per month</th>
            <td>10 scans</td>
            <td>35 scans</td>
            <td>100 scans</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Concurrent Scans</th>
            <td>2</td>
            <td>5</td>
            <td>15</td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Experimental Access</th>
            <td></td>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Downloadable Reports</th>
            <td></td>
            <td></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">24/7 Technical Support</th>
            <td></td>
            <td></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<!--
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
-->
</body>
</html>