<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/account.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid">
            <div class="section">
                <img src="/images/image.jpg">
            </div>
            <div class="section" style="background-color: rgb(245, 245, 245);">
                <div class="flexbox">

                    <!-- Header Section -->
                    <div class="header-section">
                        <p class="header">Register an account!</p>
                    </div>

                    <!-- First Name -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="firstname-input">
                                First Name
                            </label>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="firstname-input" type="text">
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="lastname-input">
                                Last Name
                            </label>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="lastname-input" type="text">
                        </div>
                    </div>

                    <!-- Email Input Section -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="email-input">
                                Email
                            </label>
                            <i class="bi bi-envelope-at-fill"></i>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="email-input" type="text">
                        </div>
                    </div>

                    <!-- Password Input Section -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="password-input">
                                Password
                            </label>
                            <i class="bi bi-key-fill"></i>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="password-input" type="password">
                        </div>
                    </div>

                    <!-- Password Confirmation Section -->
                    <div class="input-section">
                        <div class="label-wrapper">
                            <label for="password-confirm">
                                Confirm Password
                            </label>
                            <i class="bi bi-key-fill"></i>
                        </div>
                        <div class="input-wrapper">
                            <input class="textbox" id="password-confirm" type="password">
                        </div>
                    </div>

                    <!-- Create Account Button -->
                    <div class="input-section">
                        <div class="button-wrapper">
                            <button class="account-button">
                                Create Account <i class="bi bi-person-fill-add"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Footer Section -->
                    <div class="footer-section">
                        <p class="footer">
                            Already have an account? 
                            <a class="account-link" href="/login">
                                Sign in here
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>